{% load staticfiles %}

	<html>
	<head>
		<title> Grocery List </title>
	</head>
		<!--Import materialize.css-->
		<link rel="stylesheet" href="{% static 'css/groceries.css' %}"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Roboto+Condensed" rel="stylesheet">
		<!-- Compiled and minified CSS -->
	   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	   <!-- Compiled and minified JavaScript -->
		 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		 <script type="text/javascript">
			  $(document).ready(function(){
					$(".dropdown-button").dropdown();
			  });
		 </script>
	<body>
	{% include "groceries/navbar.html" %}
		<div class="row">
			<div class="col s12 m6 offset-m3">
				<div class="card">
					<div class="card-content">
            {% block content %}
            {% endblock %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
