<script type="text/javascript">
	$(document).ready(function() {
		 $('select').material_select();
	 });
</script>

<form method="POST" class="post-form">
  {% csrf_token %}
      <div class="input-field col s12">
        {{ form.item_name }}
            <label for="{{ form.item_name.auto_id }}">
              {{ form.item_name.label }}{% if form.item_name.help_text %} ({{ form.item_name.help_text }}){% endif %}
            </label>
      </div>
			<div class="input-field col s12">
				{{ form.quantity }}
						<label for="{{ form.quantity.auto_id }}">
							{{ form.quantity.label }}{% if form.quantity.help_text %} ({{ form.quantity.help_text }}){% endif %}
						</label>
			</div>
			<div class="input-field col s12">
				{{ form.notes }}
						<label for="{{ form.notes.auto_id }}">
							{{ form.notes.label }}{% if form.notes.help_text %} ({{ form.notes.help_text }}){% endif %}
						</label>
			</div>

			<div class="input-field col s12">
        {{ form.completed }}
        <label for="{{ form.completed.auto_id }}">
         {{ form.completed.label }}{% if form.completed.help_text %} ({{ form.completed.help_text }}){% endif %}
        </label>
        </br>
      </br>
    </br>
      </div>

      <div class="input-field col s12">
        {{ form.store }}
        <label for="{{form.store.auto_id}}">{{form.store.label}}</label>
      </div>
  <button type="submit"  class="save btn btn-default" name="_submit">Save</button>
</form>
