{% extends 'groceries/base.html' %}

{% block content %}
<div class="item">
  <h3><a href="/">{{ item.item_name }}</a></h3>
  <ul>
    <li>Added by {{ item.owner }} on {{ item.date_added}}</li>
      {% if user.is_authenticated %}
      <a class="btn btn-default" href="{% url 'item_edit' pk=item.pk %}">Edit</a>
      {% endif %}
    </ul>
  {% if item.completed %}
     <ul>
       <li> Obtained on {{ item.date_completed }}!</li>
     </ul>
  {% else %}
  <ul>
    <li> Someone needs to go to the store! </li>
  </ul>
   {% endif %}
</div>
{% endblock %}
