<script type="text/javascript">
	$(document).ready(function() {
		 $('select').material_select();
	 });
</script>

<form method="POST" class="post-form">
  {% csrf_token %}
      <div class="input-field col s12">
        {{ form.store_name }}
            <label for="{{ form.store_name.auto_id }}">
              {{ form.store_name.label }}{% if form.store_name.help_text %} ({{ form.store_name.help_text }}){% endif %}
            </label>
      </div>
      <div class="input-field col s12">
	        {{ form.address }}
	        <label for="{{ form.address.auto_id }}">
	         {{ form.address.label }}{% if form.address.help_text %} ({{ form.address.help_text }}){% endif %}
	        </label>
	        </br>
	      </br>
	    </br>
		</div>

		<div class="input-field col s12">
			{{ form.store_notes }}
					<label for="{{ form.store_notes.auto_id }}">
						{{ form.store_notes.label }}{% if form.store_notes.help_text %} ({{ form.store_notes.help_text }}){% endif %}
					</label>
		</div>

      <div class="input-field col s12">
        {{ form.store }}
        <label for="{{form.store.auto_id}}">{{form.store.label}}</label>
      </div>
  <button type="submit" name="_submit">Save</button>
</form>
